h1 {
    color:black;
    background-color: rgba(128,128,128,0.8);
    width:600px;
    text-align:center;
}
body {
    
    text-align:justify;
    background-image: url('https://jfacdev.github.io/portafolio-araujojuan/images/fondo.jpeg');
    background-repeat:repeat;

    }

.avatar_intro {
    float:right;
}

.parrafo_contenedor {
    width:800px;
    height:200px;
    
    display:inline-block;
    padding:10px;
}

.parrafo_texto {

    text-align:left;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color:black;
    background-color: rgba(128,128,128,0.8);
}

footer a{
    background-color:blue;
    color:white;
    text-align:left;
    margin-left:auto;
    display:inline-block;
}
